<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>

      {% if module_marketplace_status is defined and module_marketplace_status %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      </script>
      {% endif %}
      
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<base href="{{ base }}" />
	{% if description %}
		<meta name="description" content="{{ description }}" />
	{% endif %}
	{% if keywords %}
		<meta name="keywords" content="{{ keywords }}" />
	{% endif %}
	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
	<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
	
	{# Mahardhi Edit #}
	<script src="catalog/view/javascript/mahardhi/jquery.elevateZoom.min.js"></script>
	<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
	<script src="catalog/view/javascript/mahardhi/owl.carousel.min.js"></script>
	<script type="text/javascript" src="catalog/view/javascript/mahardhi/quickview.js"></script>	
	<link href="catalog/view/theme/mahardhi/stylesheet/mahardhi/owl.carousel.min.css" rel="stylesheet">
	<link href="catalog/view/theme/mahardhi/stylesheet/mahardhi/owl.theme.default.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css">
	{# End #}

	{% if advanceSearch %}
	  <script src="catalog/view/javascript/mahardhi/mahardhi_search.js"></script>
	{% endif %}
	{{ inline_style }}
	<link href="catalog/view/theme/mahardhi/stylesheet/stylesheet.css" rel="stylesheet">
	<link href="catalog/view/theme/mahardhi/stylesheet/mahardhi/animate.min.css" rel="stylesheet">
	{% for style in styles %}
		<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}
	{# Mahardhi Edit #}
	{% if direction == 'rtl' %}
		<link href="catalog/view/theme/mahardhi/stylesheet/mahardhi/rtl.css" rel="stylesheet">
	{% endif %}
	{# End #}
	{% for script in scripts %}
		<script src="{{ script }}"></script>
	{% endfor %}
	<script src="catalog/view/javascript/common.js"></script>
	{# Mahardhi Edit #}
	<script src="catalog/view/javascript/mahardhi/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="catalog/view/theme/mahardhi/stylesheet/mahardhi/jquery-ui.min.css">
	<script src="catalog/view/javascript/mahardhi/custom.js"></script>	
	{# End #}
	{% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}
	{% for analytic in analytics %}
		{{ analytic }}
	{% endfor %}

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" type="text/css" rel="stylesheet" media="screen" />
      

          {% if lang != 'en' %}
          <style>
            #top{
              margin-top: -20px;
            }
          </style>
        {% endif %}
        
<body class="{{ class }}">

          {% if notification is defined and notification %} {{ notification }} {% endif %}
      
	<div class="loader"></div>
	<nav id="top">
		<div class="container">
			<div class="top-main">		
			<div class="top-left">
				<div class="open_time hidden-xs">	
					<i class="fa fa-clock-o"></i>
					<span class="open-time">{{ open_time }}:</span>
	        		<span>{{ open }}</span>
				</div>
			</div>		
			<div class="top-right">
				<!-- start account -->								
				<div id="header_ac" class="dropdown">
					<a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user-o hidden-xs"></i> {{ text_account }}	<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right account-link-toggle">
						{% if logged %}
							<li><a href="{{ account }}">{{ text_account }}</a></li>
							<li><a href="{{ order }}">{{ text_order }}</a></li>
							<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
							<li><a href="{{ download }}">{{ text_download }}</a></li>
							<li><a href="{{ logout }}">{{ text_logout }}</a></li>								
						{% else %}
							<li><a href="{{ register }}">{{ text_register }}</a></li>
							<li><a href="{{ login }}">{{ text_login }}</a></li>								
						{% endif %}						
					</ul>
				</div>	
				<div class="currency">{{ currency }}</div>   	
				<div class="language">{{ language }}</div>
	        </div>  
	    </div>
		</div>	
	</nav>
	<header>
		<div class="container">
			<div class="header-top">
				<div class="contacts hidden-xs">
					<i class="fa fa-phone"></i>
					<div class="contact-text">
						<div>{{ text_contact }}:</div>
						<a href="{{ contact }}">{{ telephone }}</a>
					</div>
				</div>	
				<!-- start logo -->
		        <div id="logo">
					{% if logo %}
						<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
					{% else %}
						<h1><a href="{{ home }}">{{ name }}</a></h1>
					{% endif %}
				</div>
				<div class="header-right header-links">					
					<!-- start cart -->
					<div class="header_cart">{{ cart }}</div>
				</div>						
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="header-bottom-inner">
					<!-- start menu -->
					{{menu}}
					<!-- start search -->
				<div class="btn_search">								
				    <div class="header-search">
						{{ search }}
					</div>					
				</div>	
					
				</div>
			</div>
		</div>		
	</header>