<div class="list-group">
  <b href="" class="list-group-item text-center" disabled="disabled">Seller Filter</b>
  {% for seller in sellers %}
    {% if (scf_id is defined and (seller['customer_id'] == scf_id)) %}
        <a href="{{ seller['href'] }}" class="list-group-item active">{{ seller['name'] }}</a>
      {% else %}
        <a href="{{ seller['href'] }}" class="list-group-item">{{ seller['name'] }}</a>
    {% endif %}
  {% endfor %}
</div>
