{{ header }}

            <script>
              var base_url = location.origin;
              var current_url = location.href;
              {% if admin_analytic_id is defined and admin_analytic_id and product_analytic is defined and product_analytic %}
  
                ga('create', '{{ admin_analytic_id }}', 'auto', 'AdminTracker');
                ga('AdminTracker.set', 'page', current_url.replace(base_url,''));
                ga('AdminTracker.send', 'pageview');
              {% endif %}
              {% if seller_analytic_id is defined and seller_analytic_id and product_analytic is defined and product_analytic %}
                ga('create', '{{ seller_analytic_id }}', 'auto', 'SellerTracker');
                ga('SellerTracker.set', 'page', current_url.replace(base_url,''));
                ga('SellerTracker.send', 'pageview');
              {% endif %}
            </script>
            
<div id="product-page" class="container">	
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	</ul>
	<div class="row">{{ column_left }}

                            {% if not allowedProductBuy %}
                                <div class="alert alert-danger">
                                  <i class="fa fa-exclamation-circle"></i>
                                    {{ error_own_product }}
                                </div>
                              {% endif %}
                              
	{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
	{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
	{% else %}
		{% set class = 'col-sm-12' %}
	{% endif %}
	<div id="content" class="{{ class }}">
		{{ content_top }}
		<h2 class="page_title">{{ heading_title }}</h2>
			<div class="pro-deatil clearfix row">
				{% if column_left or column_right %}
					{% set class = 'col-sm-6' %}
				{% else %}
					{% set class = 'col-sm-6' %}
				{% endif %}
				<div class="{{ class }} product-img">
					{% if thumb or images %}
						<div class="thumbnails">
							<div class="product-additional">	
								{% if thumb %}
									<div class="pro-image">
										<a href="{{ popup }}" title="{{ heading_title }}" class="thumbnail">
											<img src="{{ thumb }}" title="{{ heading_title }}" id="zoom" alt="{{ heading_title }}" data-zoom-image="{{ popup }}"/>
										</a>
									</div>
								{% endif %}							
								{% if images %}
									<div id="additional-carousel" class="owl-carousel owl-theme clearfix">
										<div class="image-additional">
											<a href="{{ popup }}" title="{{ heading_title }}" class="elevatezoom-gallery" data-image="{{ thumb }}" data-zoom-image="{{ popup }}" >
												<img src="{{ thumb }}"  title="{{ heading_title }}" alt="{{ heading_title }}" width="80" height="80"/>
											</a>
										</div>
										{% for image in images %}
											<div class="image-additional">
												<a href="{{ image.popup }}" title="{{ heading_title }}" class="elevatezoom-gallery" data-image="{{ image.thumb }}" data-zoom-image="{{ image.popup }}">
													<img src="{{ image.thumb }}"  title="{{ heading_title }}" alt="{{ heading_title }}" width="80" height="80" />
												</a>
											</div>
										{% endfor %}
									</div>
								{% endif %}								
							</div>
						</div>
					{% endif %}
				</div>
				{% if column_left or column_right %}
					{% set class = 'col-sm-6' %}
				{% else %}
					{% set class = 'col-sm-6' %}
				{% endif %}
				<div class="{{ class }}">
				<div class="right_info">
					<h1 class="">{{ heading_title }}</h1>
					{% if review_status %}
						<div class="rating clearfix">
							<div class="product-rating">
								{% for i in 1..5 %}
									{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
									{% endif %}
								{% endfor %} 
							</div>
							<a href="" class="reviews" onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('.nav-tabs').offset().top}, 800); return false;">{{ reviews }}</a> 
							<a href="" class="write-review" onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('.nav-tabs').offset().top}, 800); return false;"><i class="fa fa-pencil" aria-hidden="true"></i>{{ text_write }}</a>						
						</div>
					{% endif %}
					<hr>
					<ul class="list-unstyled">					
						{% if manufacturer %}
							<li><span class="disc">{{ text_manufacturer }}</span> <a class="disc1" href="{{ manufacturers }}">{{ manufacturer }}</a></li>
						{% endif %}
						<li><span class="disc">{{ text_model }}</span><span class="disc1"> {{ model }}</span></li>
						{% if reward %}
							<li><span class="disc">{{ text_reward }}</span><span class="disc1"> {{ reward }}</span></li>
						{% endif %}
						<li><span class="disc">{{ text_stock }}</span><span class="disc1"> {{ stock }}</span></li>

                            {% if wk_custome_field_wkcustomfields %}
                                     {% if customFields is not empty %}
                                      {% for key, value in customFields %}
                                            <div><span>{{ value['fieldName'] }}</span>{{ value['fieldValue'] }}</div>
                                      {% endfor %}
                                    {% endif %}
                            {% endif %}
                              
					</ul>

                        {% if delivery_date is defined and delivery_date %}
                            <ul class="list-unstyled">
                              <li>{{ text_delivery_date  ~ ' : ' ~ delivery_date }}</li>
                            </ul>
                        {% endif %}
                    
					{% if price %}
						<hr>
						<ul class="list-unstyled">
							{% if not special %}
								<li>
									<span class="pro_price">{{ price }}</span>
								</li>
							{% else %}
								<li>
									<span class="pro_price">{{ special }}</span><span class="pro_oldprice" style="text-decoration: line-through;">{{ price }}</span>
								</li>
							{% endif %}
							{% if tax %}
								<li class="tax">{{ text_tax }} {{ tax }}</li>
							{% endif %}
							{% if points %}
								<li>{{ text_points }} {{ points }}</li>
							{% endif %}
							{% if discounts %}
								{% for discount in discounts %}
									<li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
								{% endfor %}
							{% endif %}
						</ul>
						<hr>
					{% endif %}
					<div id="product" class="product-options">
						{% if options %}
							<h3>{{ text_option }}</h3>
							{% for option in options %}
								{% if option.type == 'select' %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
											<option value="">{{ text_select }}</option>
											{% for option_value in option.product_option_value %}
												<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
													{% if option_value.price %}
														({{ option_value.price_prefix }}{{ option_value.price }})
													{% endif %}
												</option>
											{% endfor %}
										</select>
									</div>
								{% endif %}
								{% if option.type == 'radio' %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label">{{ option.name }}</label>
										<div id="input-option{{ option.product_option_id }}">
											{% for option_value in option.product_option_value %}
												<div class="radio">
													<label>
														<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
														{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" />
														{% endif %}
														{{ option_value.name }}
														{% if option_value.price %}
															({{ option_value.price_prefix }}{{ option_value.price }})
														{% endif %}
													</label>
												</div>
											{% endfor %}
										</div>
									</div>
								{% endif %}
								{% if option.type == 'checkbox' %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label">{{ option.name }}</label>
										<div id="input-option{{ option.product_option_id }}">
											{% for option_value in option.product_option_value %}
												<div class="checkbox">
													<label>
														<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
														{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
														{{ option_value.name }}
														{% if option_value.price %}
															({{ option_value.price_prefix }}{{ option_value.price }})
														{% endif %}
													</label>
												</div>
											{% endfor %}
										</div>
									</div>
								{% endif %}
								{% if option.type == 'text' %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
									</div>
								{% endif %}
								{% if option.type == 'textarea' %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
									</div>
								{% endif %}
								{% if option.type == 'file' %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label">{{ option.name }}</label>
										<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
										<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
									</div>
								{% endif %}
								{% if option.type == 'date' %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										<div class="input-group date">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
												<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</div>
								{% endif %}
								{% if option.type == 'datetime' %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										<div class="input-group datetime">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</div>
								{% endif %}
								{% if option.type == 'time' %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										<div class="input-group time">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
						{% if recurrings %}
							<hr>
							<h3>{{ text_payment_recurring }}</h3>
							<div class="form-group required">
								<select name="recurring_id" class="form-control">
									<option value="">{{ text_select }}</option>
									{% for recurring in recurrings %}
										<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
									{% endfor %}
								</select>
								<div class="help-block" id="recurring-description"></div>
							</div>
						{% endif %}
						<div class="form-group">
							<label class="control-label qty" for="input-quantity">{{ entry_qty }}</label>
							<div class="product-btn-quantity">
								<div class="pro-quantity">									
		                            <div class="minus-plus">
		                            	<button class="minus"><i class="fa fa-minus"></i></button>	                            	
		                            	<input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
		                            	<button class="plus"><i class="fa fa-plus"></i></button>
		                            </div>    
	                            </div>                            
	                            <input type="hidden" name="product_id" value="{{ product_id }}" />
	                            <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
								<div class="btn-group button-group">
		                            <button type="button" class="pro_wish wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"></button>
									<button type="button" class="pro_comper compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"></button>
								</div>
	                        </div>
							
						</div>
							
						
						{% if minimum > 1 %}
							<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
						{% endif %}
					</div>
					{% if review_status %}
						<hr>
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style" data-url="{{ share }}">
							<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
							<a class="addthis_button_tweet"></a>
							<a class="addthis_button_pinterest_pinit"></a>
							<a class="addthis_counter addthis_pill_style"></a>
						</div>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
						<!-- AddThis Button END -->
					{% endif %}
				</div>
				</div>
			</div>
			{# Tabs Start #}
			<div class="col-sm-12">
				<div class="row pro-tab">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
					{% if attribute_groups %}
						<li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
					{% endif %}
					{% if review_status %}
						<li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
					{% endif %}
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-description">{{ description }}</div>
					{% if attribute_groups %}
						<div class="tab-pane" id="tab-specification">
							<table class="table table-bordered">
								{% for attribute_group in attribute_groups %}
									<thead>
										<tr>
											<td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
										</tr>
									</thead>
									<tbody>
										{% for attribute in attribute_group.attribute %}
											<tr>
												<td>{{ attribute.name }}</td>
												<td>{{ attribute.text }}</td>
											</tr>
										{% endfor %}
									</tbody>
								{% endfor %}
							</table>
						</div>
					{% endif %}
					{% if review_status %}
						<div class="tab-pane" id="tab-review">
							<form class="form-horizontal" id="form-review">
								<div id="review"></div>
								<h2>{{ text_write }}</h2>
								{% if review_guest %}
									<div class="form-group required">
										<div class="col-sm-2">
											<label class="control-label" for="input-name">{{ entry_name }}</label>
										</div>
										<div class="col-sm-10">
											<input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-2">
											<label class="control-label" for="input-review">{{ entry_review }}</label>
										</div>
										<div class="col-sm-10">
											<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
											<div class="help-block">{{ text_note }}</div>
										</div>								
									</div>
									<div class="form-group required">
										<div class="col-sm-2">
											<label class="control-label">{{ entry_rating }}</label>
										</div>
										<div class="col-sm-10">
											&nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
											<input type="radio" name="rating" value="1" />
											&nbsp;
											<input type="radio" name="rating" value="2" />
											&nbsp;
											<input type="radio" name="rating" value="3" />
											&nbsp;
											<input type="radio" name="rating" value="4" />
											&nbsp;
											<input type="radio" name="rating" value="5" />
											&nbsp;{{ entry_good }}
										</div>
									</div>
									{{ captcha }}
									<div class="buttons clearfix">
										<div class="pull-right">
											<button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
										</div>
									</div>
								{% else %}
									{{ text_login }}
								{% endif %}
							</form>
						</div>
					{% endif %}
				</div>
				</div>
			</div>
			
			{# Tab End #}
			{# Tag Start #}
			{% if tags %}
				<p>
					{{ text_tags }}
					{% for i in 0..tags|length %}
						{% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
						{% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
					{% endfor %}
				</p>
			{% endif %}
			{# Tag End #}

                          {{ sellerprofile }}
                              

			{# Related Products #}
			{% if products %}
			<div class="box related-products-block">
				<div class="page-title"><h3>{{ text_related }}</h3></div>
				<div class="block_box row">					
					{% set productForSlider = 4 %}
					{% set productCount = products|length %}
					<div id="related-carousel" class="box-product {% if productCount > productForSlider %} product-carousel {% endif %} clearfix">
						{% set i = 0 %}
						{% if productCount > productForSlider %}
							{% set class = ' col-xs-12' %}
						{% else %}
							{% if column_left and column_right %}
								{% set class = ' col-lg-6 col-md-6 col-sm-4 col-xs-6' %}
							{% elseif column_left or column_right %}
								{% set class = ' col-lg-4 col-md-4 col-sm-4 col-xs-6' %}
							{% else %}
								{% set class = ' col-lg-3 col-md-4 col-sm-4 col-xs-6' %}
							{% endif %}
						{% endif %}
						{% for product in products %}
							<div class="product-layout {{ class }}">
								<div class="product-thumb transition">
									<div class="image">
										{% if product.thumb_swap %}
											<a href="{{ product.href }}">
												<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
												<img class="img-responsive hover-img" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
											</a>
										{% else %}
											<a href="{{ product.href }}">
												<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
											</a>
										{% endif %} 
										{% if  product.special %}
											<div class="sale-text"><span class="section-sale">{{ text_sale }}</span></div>
										{% endif %}
										<div class="cart_main">
											<button type="button" class="addcart" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"></button>
										</div>											
										<div class="button-group">
											<button type="button" class="wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"></button>
											<button type="button" class="quickview-button" data-toggle="tooltip" title="{{ button_quickview }}" onclick="quickView.ajaxView('{{ product.href }}');"></button>
											<button type="button" class="compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"></button>
										</div>
										{% if product.rating %}
											<div class="rating">
												{% for i in 1..5 %}
													{% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
												{% endfor %}
											</div>
										{% else %}
											<div class="rating">
												{% for i in 1..5 %}
													<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% endfor %}
											</div>
										{% endif %}	
									</div>
									<div class="thumb-description clearfix">
										<div class="caption">
											<div class="desc-inner">
												<h4 class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></h4>
											</div>	
											{% if product.rating %}
												<div class="rating">
													{% for j in 1..5 %}
														{% if product.rating < j %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> {% endif %}
													{% endfor %}
												</div>
											{% else %}
												<div class="rating">
													{% for i in 1..5 %}
														<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
													{% endfor %}
												</div>
											{% endif %}
											{% if product.price %}
												<p class="price">
													{% if not product.special %}
														{{ product.price }}
													{% else %}
														<span class="price-new">{{ product.special }}</span><span class="price-old">{{ product.price }}</span>
													{% endif %}												
												</p>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							{% set i = i + 1 %}
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
			{# End related products #}
		{{ content_bottom }}
	</div>
	{{ column_right }}
	</div>	
</div>
<script><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script>
<script><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span class="cart_block"><span id="cart-total"> ' + json['total'] + '</span></span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
<script><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
			clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script><!--
$('#review').delegate('.pagination a', 'click', function(e) {
		e.preventDefault();

		$('#review').fadeOut('slow');

		$('#review').load(this.href);

		$('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});
//--></script>

<!-- M-Custom script -->
<script><!--
	// Additional images
	const direction = $('html').attr('dir');

	$('#additional-carousel').each(function () {
		if ($(this).closest('#column-left').length == 0 && $(this).closest('#column-right').length == 0) {
			$(this).addClass('owl-carousel owl-theme');
			const items = $(this).data('items') || 5;
			const sliderOptions = {
				loop: false,
				nav: true,
				navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
				dots: false,
				items: items,
				mouseDrag: false,
			    touchDrag: false,
			    pullDrag: false,
			    rewind: false,
			    autoplay: true,
				responsiveRefreshRate: 200,
				responsive: {
					0: { items: 1 },
					320: { items: ((items - 3) > 1) ? (items - 3) : 1 },
					351: { items: ((items - 2) > 1) ? (items - 2) : 1 },
					426: { items: ((items - 1) > 1) ? (items - 1) : 1 },
					768: { items: ((items - 2) > 1) ? (items - 2) : 1 },
					992: { items: ((items - 1) > 1) ? (items - 1) : 1 },
					1200: { items: items }
					}
				};
				if (direction == 'rtl') sliderOptions['rtl'] = true;
				$(this).owlCarousel(sliderOptions);
		}
	});

	$(document).ready(function() {
		if($(window).width() > 991) {
			$("#zoom").elevateZoom({
				zoomType: "inner",
				cursor: "crosshair",
				gallery:'additional-carousel',
				galleryActiveClass: 'active'
			});

			var image_index = 0;
			$(document).on('click', '.thumbnail', function () {
				$('.thumbnails').magnificPopup('open', image_index);
				return false;
			});

			$('#additional-carousel a').click(function() {
				var smallImage = $(this).attr('data-image');
				var largeImage = $(this).attr('data-zoom-image');
				var ez = $('#zoom').data('elevateZoom');
				$('.thumbnail').attr('href', largeImage);
				ez.swaptheimage(smallImage, largeImage);
				image_index = $(this).index('#additional-carousel a');
				return false;
			});
		} else {
			$(document).on('click', '.thumbnail', function () {
				$('.thumbnails').magnificPopup('open', 0);
				return false;
			});
		}
	});

	$(document).ready(function() {
		$('.thumbnails').magnificPopup({
			type:'image',
			delegate: 'a.elevatezoom-gallery', // Mahardhi Edit
			gallery: {
				enabled: true
			}
		});
	});

//--></script>

{{ footer }}
