{{ header }}
{{ column_left }}

<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="container-fluid">
        {% if warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-list"></i> {{ title_edit_create }}
                {% if type == 0 %}
                    {{ label_banner|lower }}
                {% elseif type == 1 %}
                    {{ label_list|lower }}
                {% endif %}
                </h3>
			</div>
			<div class="panel-body">
                <form action="{{ action }}&id={{ id }}" method="POST">
                    <input type="hidden" name="type" value="{{ type }}">
                    <div class="form-group">
                        <label class="control-label">{{ label_name }}</label>
                        <input class="form-control" name="name" value="{{ module.name }}"></input>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ label_sort_order }}</label>
                        <input class="form-control" type="number" step="1" min="0" name="sort_order" value="{{ module.sort_order }}"></input>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ label_status }}</label>
                        <select class="form-control" name="status" value="{{ module.status }}">
                            <option value="0" {% if not module.status %} selected="selected" {% endif %}>{{ text_disabled }}</option>
                            <option value="1" {% if module.status %} selected="selected" {% endif %}>{{ text_enabled }}</option>
                        </select>
                    </div>

                    {# BANNER #}

                    {% if type == 0 %}
                        <div class="form-group">
                            <label class="control-label">{{ label_banner }}</label>
                            <select class="form-control" name="banner">
                                {% for banner in banners %}
                                    <option value="{{ banner.banner_id }}" {% if banner.banner_id == module.data.banner %} selected="selected" {% endif %}>{{ banner.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {# PRODUCT LIST #}

                    {% if type == 1 %}
                        <div class="form-group">
                            <label class="control-label">{{ label_list }}</label>
                            <select class="form-control" name="list">
                                <option value="custom" {% if module.data.list == 'custom' %} selected="selected" {% endif %}>{{ text_list_custom }}</option>
                                <option value="most_viewed" {% if module.data.list == 'most_viewed' %} selected="selected" {% endif %}>{{ text_list_most_viewed }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">{{ label_limit }}</label>
                            <input class="form-control" type="number" step="1" min="1" max="20" name="limit" value="{{ module.data.limit }}"></input>
                        </div>

                        <div class="form-group">
                            <label class="control-label">{{ label_products }}</label>
                            <input type="text" name="product_name" value="" placeholder="{{ label_product }}" id="input-product" class="form-control"/>
                            <div id="product" class="well well-sm" style="height: 150px; overflow: auto;">
                                {% for product in module.data.products %}
                                    <div id="product{{ product.product_id }}"><i class="fa fa-minus-circle"></i>{{ product.name }}
                                        <input type="hidden" name="products[]" value="{{ product.product_id }}" />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            {{ text_submit }}
                        </button>
                    </div>
                </form>
			</div>
        </div>
	</div>
</div>


{{ footer }}

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>

// Product autocomplete

$('input[name=\'product_name\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id'],
					};
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'product_name\']').val('');
		$('#product' + item['value']).remove();
		$('#product').append('<div id="product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="products[]" value="' + item['value'] + '" /></div>');
	}
});

$('#product').delegate('.fa-minus-circle', 'click', function() {
    $(this).parent().remove();
});

// Category autocomplete

$('input[name=\'category_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'category_name\']').val('');
		$('#category' + item['value']).remove();
		$('#category').append('<div id="category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="categories[]" value="' + item['value'] + '" /></div>');
	}
});

$('#category').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
</script>
