{{ header }}
{{ column_left }}

{# CONTENT #}

<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
                <a href="{{ edit_href }}&type=0">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        {{ label_banner }}
                    </button>
                </a>

                <a href="{{ edit_href }}&type=1">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        {{ label_list }}
                    </button>
                </a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="container-fluid">
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-list"></i> {{ title_modules }} </h3>
			</div>
			<div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td><span>{{ label_name }}</span></td>
                                <td><span>{{ label_type }}</span></td>
                                <td style="text-align: right">{{ label_sort_order }}</td>
                                <td><span>{{ label_status }}</span></td>
                                <td><span>{{ label_date_added }}</span></td>
                                <td style="text-align: center">{{ label_action }}</td>
                            </tr>
                        </head>
                        <tbody>
                            {% if home_modules %}
                                {% for module in home_modules %}
                                    <tr>
                                        <td>{{ module.name }}</td>
                                        <td>
                                            {% if module.type == 0 %}
                                                {{ label_banner }}
                                            {% elseif module.type == 1 %}
                                                {{ label_list }}
                                            {% endif %}
                                        </td>
                                        <td style="text-align: right">{{ module.sort_order }}</td>
                                        <td><i class="fa fa-eye{% if not module.status %}-slash{% endif %}"></i></td>
                                        <td>{{ module.date_added }}</td>
                                        <td align="center">
                                            <a href="/admin/index.php?route=mobile/main/edit&user_token={{ user_token }}&id={{ module.mobile_home_id }}">
                                                <button type="button" class="btn btn-primary">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                            </a>
                                            <button type="button" class="btn btn-danger" onClick="deleteModule('{{ module.mobile_home_id }}')">
                                                <i class="fa fa-eraser"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td colspan="6" style="text-align: center">{{ text_no_results }}</td>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
			</div>
        </div>
	</div>
</div>


{{ footer }}

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


<script>
function deleteModule(id) {
    if (confirm('{{ text_confirm_delete }}')) {
        fetch(`/admin/index.php?route=mobile/main/delete&user_token={{ user_token }}&id=${id}`)
        .finally(() => location.reload());
    }
}
</script>
