{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
<p>{{ text_shipping_method }}</p>
{% for shipping_method in shipping_methods %}
<p><strong>{{ shipping_method.title }}</strong></p>
{% if not shipping_method.error %}
{% for quote in shipping_method.quote %}
<div class="radio">
  <label> {% if quote.code == code or not code %}
    {% set code = quote.code %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" checked="checked" />
    {% else %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" />
    {% endif %}
    {{ quote.title }} - {{ quote.text }}</label>
</div>

          {% if quote['code'] == 'wk_custom_shipping.wk_custom_shipping' %}
           {% if (priority_shipping is defined and priority_shipping and priority_shipping is not empty) %} 
            <p><strong>{{ text_priority }}</strong></p>
            {% for key,shipping in priority_shipping %} 
                {% if (shipping is iterable) %} 
                    <strong>{% if (shipping['name'] is defined) %} {{ shipping['name'] }} {% endif %}</strong>
                  {% for keys,priority in shipping %} 
                      {% if (keys == 'high') %} 
                        <div class ="radio">
                          <label><input type="radio" class = "priority" name="shipping_priority[{{ key }}]" value="{{ priority['amount'] }}" />{{ entry_high }} : {{ text_duration }} - {% if (priority['day'] is defined and priority['day']) %} {{ priority['day'] }} {% else %} {{ '0' }} {% endif %} {{ text_day }} : {{ text_charges }} - {% if (priority['text'] is defined and priority['text']) %} {{ priority['text'] }} {% endif %} 
                            </label>
                        </div>
                      {% endif %} 
                      {% if (keys == 'medium') %} 
                        <div class ="radio">
                          <label><input type="radio" class = "priority" name="shipping_priority[{{ key }}]" value="{{ priority['amount'] }}" />{{ entry_medium }} : {{ text_duration }} -{% if (priority['day'] is defined and priority['day']) %} {{ priority['day'] }} {% else %} {{ '0' }} {% endif %} {{ text_day }} : {{ text_charges }} - {% if (priority['text'] is defined and priority['text']) %} {{ priority['text'] }} {% endif %} 
                            </label>
                        </div>
                      {% endif %} 
                      {% if (keys == 'low') %} 
                        <div class ="radio">
                          <label><input type="radio" class = "priority" name="shipping_priority[{{ key }}]" value="{{ priority['amount'] }}" />{{ entry_low }}: {{ text_duration }} - {% if (priority['day'] is defined and priority['day']) %} {{ priority['day'] }} {% else %} {{ '0' }} {% endif %} {{ text_day }} :  {{ text_charges }} - {% if (priority['text'] is defined and priority['text']) %} {{ priority['text'] }} {% endif %} 
                            </label>
                        </div>
                      {% endif %} 
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
            {% if seller_custom_shipping is defined and seller_custom_shipping %}
              <div class="table-responsive" style="width:50%;">
               <table class="table table-stripped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="text-left">{{ text_seller_name }}</th>
                      <th class="text-right">{{ text_seller_shipping }}</th>
                      {% if event_shipping_amount is defined and event_shipping_amount %}
                        <th class="text-right">{{ text_event_amount }}</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                  {% for key,value in seller_custom_shipping %}
                    <tr>
                        <td class="text-left">{{ key }}</td>
                        <td class="text-right">{{ value.shipping_price }}</td>
                        {% if event_shipping_amount is defined and event_shipping_amount %}
                        <td class="text-right">{{ value.prefix }} {{ value.event_shipping_amount }}</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
            
                  </tbody>
                </table>
              </div>
            {% endif %}
          {% endif %}
        
{% endfor %}
{% else %}
<div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
{% endif %}
{% endfor %}
{% endif %}
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control">{{ comment }}</textarea>
</p>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-shipping-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>


    <script type="text/javascript">
      $('#collapse-shipping-method input[name=\'shipping_method\']').on('change', function() {
      if ($(this).val() != 'wk_custom_shipping.wk_custom_shipping') {
        $('.priority').prop('checked',false);
      }
      });
      $('#collapse-shipping-method input[type=\'radio\']').on('change', function() {
      if ($('#collapse-shipping-method input[name=\'shipping_method\']:checked').val() != 'wk_custom_shipping.wk_custom_shipping') {
          $('.priority').prop('checked',false);
      }
      });

    </script>
    