{{ header }}

                    <style type="text/css">
                      .btn-success{
                        background-image: linear-gradient(to bottom, #62c462, #51a351);
                      }
                    </style>
                
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

                    {% if is_seller is defined and is_seller %}
                        <form class="form-horizontal" action="{{ action }}" method="post" id="form-mode">
                            <div>
                              {% if marketplace_seller_mode is defined and marketplace_seller_mode %}
                               <input value="1" name="marketplace_seller_mode" data-toggle="toggle" data-on="{{ text_mode_seller }}" data-off="{{ text_mode_customer }}" data-onstyle="success" data-offstyle="danger" type="checkbox" class="form-control hide" checked>
                              {% else %}
                               <input value="1" name="marketplace_seller_mode" data-toggle="toggle" data-on="{{ text_mode_seller }}" data-off="{{ text_mode_customer }}" data-onstyle="success" data-offstyle="danger" type="checkbox" class="form-control hide">
                              {% endif %}
                            </div>
                        </form>
                        <br/>
                    {% endif %}
                
      <h2>{{ text_my_account }}</h2>
      <h3 class="account-list-heading">{{ text_my_account }}</h3>
      <ul class="list-unstyled account-list-content">
        <li><a href="{{ edit }}">{{ text_edit }}</a></li>
        <li><a href="{{ password }}">{{ text_password }}</a></li>
        <li><a href="{{ address }}">{{ text_address }}</a></li>
        <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
      </ul>
      {% if credit_cards %}
      <h3 class="account-list-heading">{{ text_credit_card }}</h3>
      <ul class="list-unstyled account-list-content">
        {% for credit_card in credit_cards %}
        <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      <h3 class="account-list-heading">{{ text_my_orders }}</h3>
      <ul class="list-unstyled account-list-content">
        <li><a href="{{ order }}">{{ text_order }}</a></li>
        <li><a href="{{ download }}">{{ text_download }}</a></li>
        {% if reward %}
        <li><a href="{{ reward }}">{{ text_reward }}</a></li>
        {% endif %}
        <li><a href="{{ return }}">{{ text_return }}</a></li>
        <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
        <li><a href="{{ recurring }}">{{ text_recurring }}</a></li>
      </ul>
      <h3 class="account-list-heading">{{ text_my_affiliate }}</h3>
      <ul class="list-unstyled account-list-content">
        {% if not tracking %}
        <li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>
        {% else %}
        <li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>
        <li><a href="{{ tracking }}">{{ text_tracking }}</a></li>
        {% endif %}
      </ul>
      <h3 class="account-list-heading">{{ text_my_newsletter }}</h3>
      <ul class="list-unstyled account-list-content">
        <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
      </ul>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

                    <script type="text/javascript">
                      $('input[name=\'marketplace_seller_mode\']').on('change',function() {
                        $("#form-mode").submit();
                      });
                    </script>
                
{{ footer }}