<div class="row low_stock_row">
  <div class="wk_lowstock_header">
    <div class="wk_lowstock_icon">
      <img src="image/MP/buyer.png">
    </div>
    <div class="wk_lowstock_title">{{ heading_title }}</div>
  </div>
  <div class="wk_lowstock_footer">
    <div class="wk_lowstock_quantity">{{ percentage }}%</div>
    <div class="wk_lowstock_more">
      <a href="{{ customer }}">{{ text_view }}</a>
    </div>
  </div>
</div>
